VITE_SUPABASE_URL=https://boggjqtzbucbseexxrgc.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_nzezpRlTytg3LGg7Ws8iLA_jDgKo9Uj
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJvZ2dqcXR6YnVjYnNlZXh4cmdjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExODAzNTIsImV4cCI6MjA5Njc1NjM1Mn0.P26AbDYyO_eB0RoxYvbmS89QlY8om3tWDEFyOyzd0GA

